#sw-wrapper {
	position:absolute; z-index:1000;
	left:0;
	width:100%;
	font-family:helvetica, sans-serif;
	background:rgba(0,0,0,0.7);
	text-align:left;
}

#sw-header {
	position:relative;
	width:100%; height:43px;
	border-top:1px solid #000; border-bottom:1px solid #000;
	background: #a3a3a3; /* Old browsers */
	background: -moz-linear-gradient(top, #a3a3a3 0%, #535353 1%, #535353 1%, #292929 49%, #141414 51%, #2a2a2a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3a3a3), color-stop(1%,#535353), color-stop(1%,#535353), color-stop(49%,#292929), color-stop(51%,#141414), color-stop(100%,#2a2a2a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a3a3a3 0%,#535353 1%,#535353 1%,#292929 49%,#141414 51%,#2a2a2a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a3a3a3 0%,#535353 1%,#535353 1%,#292929 49%,#141414 51%,#2a2a2a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a3a3a3 0%,#535353 1%,#535353 1%,#292929 49%,#141414 51%,#2a2a2a 100%); /* IE10+ */
	background: linear-gradient(top, #a3a3a3 0%,#535353 1%,#535353 1%,#292929 49%,#141414 51%,#2a2a2a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#2a2a2a',GradientType=0 ); /* IE6-9 */
	opacity: 0.9;
}

#sw-cancel, #sw-done {
	position:absolute;
	top:7px;
	height:28px; line-height:28px;
	padding:0 9px; margin:0;
	font-size:12px; font-weight:bold;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.8);
	color:#fff;
	border: 1px solid #333;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#sw-cancel {
	left:7px;
	float:left;
	background: -moz-linear-gradient(top,  rgba(58,58,58,1) 0%, rgba(22,22,22,0.97) 48%, rgba(0,0,0,0.97) 52%, rgba(0,0,0,0.94) 94%, rgba(4,4,4,0.93) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,58,58,1)), color-stop(48%,rgba(22,22,22,0.97)), color-stop(52%,rgba(0,0,0,0.97)), color-stop(94%,rgba(0,0,0,0.94)), color-stop(100%,rgba(4,4,4,0.93))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(58,58,58,1) 0%,rgba(22,22,22,0.97) 48%,rgba(0,0,0,0.97) 52%,rgba(0,0,0,0.94) 94%,rgba(4,4,4,0.93) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(58,58,58,1) 0%,rgba(22,22,22,0.97) 48%,rgba(0,0,0,0.97) 52%,rgba(0,0,0,0.94) 94%,rgba(4,4,4,0.93) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(58,58,58,1) 0%,rgba(22,22,22,0.97) 48%,rgba(0,0,0,0.97) 52%,rgba(0,0,0,0.94) 94%,rgba(4,4,4,0.93) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(58,58,58,1) 0%,rgba(22,22,22,0.97) 48%,rgba(0,0,0,0.97) 52%,rgba(0,0,0,0.94) 94%,rgba(4,4,4,0.93) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a3a3a', endColorstr='#ed040404',GradientType=0 ); /* IE6-9 */
}

#sw-done {
	right:7px;
	float:right;
	background: rgb(92,109,131); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(92,109,131,1) 0%, rgba(93,111,136,1) 4%, rgba(70,92,122,1) 48%, rgba(52,77,111,1) 52%, rgba(53,78,112,1) 95%, rgba(56,79,115,1) 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(92,109,131,1)), color-stop(4%,rgba(93,111,136,1)), color-stop(48%,rgba(70,92,122,1)), color-stop(52%,rgba(52,77,111,1)), color-stop(95%,rgba(53,78,112,1)), color-stop(99%,rgba(56,79,115,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(92,109,131,1) 0%,rgba(93,111,136,1) 4%,rgba(70,92,122,1) 48%,rgba(52,77,111,1) 52%,rgba(53,78,112,1) 95%,rgba(56,79,115,1) 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(92,109,131,1) 0%,rgba(93,111,136,1) 4%,rgba(70,92,122,1) 48%,rgba(52,77,111,1) 52%,rgba(53,78,112,1) 95%,rgba(56,79,115,1) 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(92,109,131,1) 0%,rgba(93,111,136,1) 4%,rgba(70,92,122,1) 48%,rgba(52,77,111,1) 52%,rgba(53,78,112,1) 95%,rgba(56,79,115,1) 99%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(92,109,131,1) 0%,rgba(93,111,136,1) 4%,rgba(70,92,122,1) 48%,rgba(52,77,111,1) 52%,rgba(53,78,112,1) 95%,rgba(56,79,115,1) 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5c6d83', endColorstr='#384f73',GradientType=0 ); /* IE6-9 */
}

.sw-pressed { opacity:0.4; }

#sw-slots-wrapper {
	position:relative; z-index:999;
	display:block;
	height:215px;
	padding:0 11px;
	overflow:hidden;
}

#sw-slots {
	display:table;
	width:100%;
	background:#fcfcfc;
}

#sw-slots div {
	display:table-cell;
	height:100%;
	padding-top:86px;
	border-left:2px solid #0d0e0f;
	background-color:#fcfcfc;
}

#sw-slots div:first-child { border:0; }

#sw-slots ul {
	padding:0 0 85px 0; margin:0;
	list-style:none;
}

#sw-slots .sw-right { text-align:right; }
#sw-slots .sw-shrink { width:1%; }
#sw-slots .sw-readonly { background:#ddd; }

#sw-slots li {
	padding:0 8px;
	height:44px;
	overflow:hidden;
	font:bold 24px/44px Helvetica,sans-serif;
}

#sw-frame {
	position:absolute; z-index:1000;
	left:0; right:0; bottom:0;
	height: 183px;
	border-style: solid;
	border-width: 16px;
	-webkit-border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAADXCAYAAAD7nmRGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACGtJREFUeNrsnV1vVFUUhveZL0g7LQWKMqWAtCrgrXpjwH/AjXrhLzBcecsv0ITExI8r4y/w0oRoYsKNIfEDveDDUMRQoIUWhn5MaSltmZntaacXRAvsxex1Zu/xWUlpA5t9hvXyvmu9e+9zTjI29rc1RHRRuHTpmvPgfD5PxhSj0Wi4A2eMhHCQUzfc81uw6dgkcR2egJxuOCORI1eR1rgWPRPvVCbUgUvhcMTDWqRStcJZpPL/wThXCUwgXFhdpYDKZmamaiYmbiX37k2bxcXFTe8BoJIoFotmx44BU6nsMwcPHrLlcl9KisRIsBD5uMnJm+b3878ky8vLK2k8qlZnHi7UFtaAQh4DOwdKlcqd3tnZmdJbb77d09Nb1mHcOtN++/XndZYtXR37a4rUtxe1+Vo9/VoeuzKW4pUbPHbs+ECzaTeY55Vxt29PmJRkKylot0i73/jh+zPTIyMjxeH9w/31esMVOLeoVu+mwK0upD/WSbX/uH792oMjRw/312oP/Pq49UakWr0/l/74mDT7j4sXLs6/9/4Hw66ly3nlpF6vm7QRWSDFOjE1NfW4VCrq2IE06CAVI5dzXw8R2IGNccikugG3rsCJAuACCdGSF1IJ44h2GWcdu5PNYTBOk292/QvGwbgn6iCMU65xWowDuLAY57xjjlSq1zgD42AcXWWmrINx3cy4JzpGuspAOktHqYRxkTYnIuToKtXZJmKcdfjfgFTqMw4D/n9oTqzkICbARco4alxIBtxaDHiEXSWM63IDDnCBGXD246L0cUhlxM2Ja+EEOH3GOdsB66yrHIjNRihdpVK2yMydOmGUOElzglRm5eU0mhMYF5KPc0GZ5iQbtln/UmlhXMQ+DuBi83EAl5VcOvs4EXANUqtqv9V8HMDF5uM2xyGVoUilcN4mqQ3IxyGVXdxVrg+7fuOKE+NGD73xzD//6OTHW/7+N19/5Ty2ndjqOpLP+aLXe9p8p06d3Ph+9uw5WVfpdpOVv0cbSjpZ28FHKvq+9vPnkxjwjZt1Mk6O9CGZnesUMp5PfJIZ3ELATXzvgIskWKRSfT6ZAXctXxbK6VNOYMA7kRtw8yCVrZPMYa4OSMd28nP6mk/h/jivWqk01n+Vy34+usr43IDWyglSqTuf6DarTrTb2IH2r7m5H5exH0Arn55jpW0dcKPGUePa83GOEujXDFDjPNQ417f+oZVB1TjZy23BLZwa14GVE6Ty6RnWOp4H5TTnk+0OuC4ye2QcXaWHlROb/X8+CNf+NTdrXLbdCTWubaUU2AFqXAY1TmwHsl2rpMa1zznB8yoNwIXUnHSmduiM7eTnzHq+gqwkUuP057PuwHFYKBSpVLh53+c/AuCeYRgcr5l88ukXTiMXV/cYQj/6tt13Z5yL/T7+zlFTeenlM6RWL25MTpy4ernqNDbX0baNaK+rtIAXTAgWmUEtTuDIVVjAOUulzX53gGgfOaQy3hrnujtAhES5gsEPxAkcsEXdnBABFTlJc0JXGRludJUYcCLrGkeyojTgMpyJcOwANS7OGtfZs8LEf/kmeeqCxQ5EZwegW6TNibWC0UQ4NW58/KbbhKUx03h09ydSqxdL9ckTc3fc8GB3IFo7AHBxdpXsDsTZVhbALVI7AHCxAkeNi7PGsVYZqY+jOaE5Iahx1DhqHDWOCKzGAVyMjMuRqjiD5oTmhKA5oTnBgHexASfCqnGuwEG57q5xC4tL6a9Ln5HayAz4j999bsbHr35IZvXi9Okvv71xReewUJX0ars434+vb32rkVzdxsT/HamtYQ9Jr255UzDgG+NWSa86co7AyV6K1CC76mKpYsDrJDcE2CTPZG59a5JeXfPtv8a1xgFcKDVOKJXUuAzkUkMqWdhU93E6749DKpWRE9wDLjLgABcIctKX2yKV6nZA58wJwCl3lQI7IJoaqQykrZS+FAnGqds4alyEZLNqN+8DnL6RcwROx9gTyiHoKsEsE7H0XeNY8gqsxgmXvABOvat0lEqDUgbWnLjWOENXGalUWudJCX2t9L/kBW7ZyaWCVBLqJQ6p7HapdPcDI68c9YJeZd+BLX9/+s6E89h2YqvrSD7ni17Pab6Q361jlcZ28nP6mE/lXKVfRbAqYzv5OX3Mp3OushVe3ixxb2pSZazv8H3t586nuDvAA20CCcEi88a4PCnTrar+N1JbwwBOux3y3VVujgM4dQPu3FWKkCuQ3iAIJ+4qAU7fgyCVXS6Voi3wIunVNfxaN+8jldoyqbRWCXCxSeXmKKRSmXFa94DDuNi6SgPjwpJKoY8DuNiaE2pcrM1Ja1yJ9OoiZ/0/ywvGhcQ56blKGJcFdjCuixkntAMwLhw7gI+LETkYF2eJEx9BBzhtwik92hfggmlOsAOBGXDn5kRU5QBOHTx2B7rdDlDjgmKb0u4AwEXHOJoTGEdkzziak9gYhx0IjXGsnAQInwvjZC/+QyqVMbNKG6kwLhCxlB5dgHFhKKU745IExmlHLpcY70cXcvmCaTZtOZ2c120qRG9vbylJcv67ymKxZOqN+mApV+SV0gqxtzK0Z21t1X+NKxW3Gdts9qc/zpNm/zH66qGds7Nz/s+cJLl8KpfF/qaxQymh75Nqf3Hs3eNDuwcHyxcuXpZIpaR45tbPROzetXvX9kIh9/BBrbaysrK6Rurl0dPTU6oM7e0ZGR3tG9wzuP38+T/M1NS0898vSDbA07HJ+uO8lh+tlg8cGC6/9vph099XNoUCt81JCZCkX4/X1szs3Ly5/Oe5FLS7osMIyf4DR5yH5/MF3pGqGI1G3fmpFoVoHh6J+f53cyJ4dqSxCdnVxM0dCx5jGGm8QHNCqDFOIpWGIhdlkUMqkUoCqUQqnxv/CDAAjpcS9s16MMQAAAAASUVORK5CYII=) 16 fill;
	border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAADXCAYAAAD7nmRGAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAACGtJREFUeNrsnV1vVFUUhveZL0g7LQWKMqWAtCrgrXpjwH/AjXrhLzBcecsv0ITExI8r4y/w0oRoYsKNIfEDveDDUMRQoIUWhn5MaSltmZntaacXRAvsxex1Zu/xWUlpA5t9hvXyvmu9e+9zTjI29rc1RHRRuHTpmvPgfD5PxhSj0Wi4A2eMhHCQUzfc81uw6dgkcR2egJxuOCORI1eR1rgWPRPvVCbUgUvhcMTDWqRStcJZpPL/wThXCUwgXFhdpYDKZmamaiYmbiX37k2bxcXFTe8BoJIoFotmx44BU6nsMwcPHrLlcl9KisRIsBD5uMnJm+b3878ky8vLK2k8qlZnHi7UFtaAQh4DOwdKlcqd3tnZmdJbb77d09Nb1mHcOtN++/XndZYtXR37a4rUtxe1+Vo9/VoeuzKW4pUbPHbs+ECzaTeY55Vxt29PmJRkKylot0i73/jh+zPTIyMjxeH9w/31esMVOLeoVu+mwK0upD/WSbX/uH792oMjRw/312oP/Pq49UakWr0/l/74mDT7j4sXLs6/9/4Hw66ly3nlpF6vm7QRWSDFOjE1NfW4VCrq2IE06CAVI5dzXw8R2IGNccikugG3rsCJAuACCdGSF1IJ44h2GWcdu5PNYTBOk292/QvGwbgn6iCMU65xWowDuLAY57xjjlSq1zgD42AcXWWmrINx3cy4JzpGuspAOktHqYRxkTYnIuToKtXZJmKcdfjfgFTqMw4D/n9oTqzkICbARco4alxIBtxaDHiEXSWM63IDDnCBGXD246L0cUhlxM2Ja+EEOH3GOdsB66yrHIjNRihdpVK2yMydOmGUOElzglRm5eU0mhMYF5KPc0GZ5iQbtln/UmlhXMQ+DuBi83EAl5VcOvs4EXANUqtqv9V8HMDF5uM2xyGVoUilcN4mqQ3IxyGVXdxVrg+7fuOKE+NGD73xzD//6OTHW/7+N19/5Ty2ndjqOpLP+aLXe9p8p06d3Ph+9uw5WVfpdpOVv0cbSjpZ28FHKvq+9vPnkxjwjZt1Mk6O9CGZnesUMp5PfJIZ3ELATXzvgIskWKRSfT6ZAXctXxbK6VNOYMA7kRtw8yCVrZPMYa4OSMd28nP6mk/h/jivWqk01n+Vy34+usr43IDWyglSqTuf6DarTrTb2IH2r7m5H5exH0Arn55jpW0dcKPGUePa83GOEujXDFDjPNQ417f+oZVB1TjZy23BLZwa14GVE6Ty6RnWOp4H5TTnk+0OuC4ye2QcXaWHlROb/X8+CNf+NTdrXLbdCTWubaUU2AFqXAY1TmwHsl2rpMa1zznB8yoNwIXUnHSmduiM7eTnzHq+gqwkUuP057PuwHFYKBSpVLh53+c/AuCeYRgcr5l88ukXTiMXV/cYQj/6tt13Z5yL/T7+zlFTeenlM6RWL25MTpy4ernqNDbX0baNaK+rtIAXTAgWmUEtTuDIVVjAOUulzX53gGgfOaQy3hrnujtAhES5gsEPxAkcsEXdnBABFTlJc0JXGRludJUYcCLrGkeyojTgMpyJcOwANS7OGtfZs8LEf/kmeeqCxQ5EZwegW6TNibWC0UQ4NW58/KbbhKUx03h09ydSqxdL9ckTc3fc8GB3IFo7AHBxdpXsDsTZVhbALVI7AHCxAkeNi7PGsVYZqY+jOaE5Iahx1DhqHDWOCKzGAVyMjMuRqjiD5oTmhKA5oTnBgHexASfCqnGuwEG57q5xC4tL6a9Ln5HayAz4j999bsbHr35IZvXi9Okvv71xReewUJX0ars434+vb32rkVzdxsT/HamtYQ9Jr255UzDgG+NWSa86co7AyV6K1CC76mKpYsDrJDcE2CTPZG59a5JeXfPtv8a1xgFcKDVOKJXUuAzkUkMqWdhU93E6749DKpWRE9wDLjLgABcIctKX2yKV6nZA58wJwCl3lQI7IJoaqQykrZS+FAnGqds4alyEZLNqN+8DnL6RcwROx9gTyiHoKsEsE7H0XeNY8gqsxgmXvABOvat0lEqDUgbWnLjWOENXGalUWudJCX2t9L/kBW7ZyaWCVBLqJQ6p7HapdPcDI68c9YJeZd+BLX9/+s6E89h2YqvrSD7ni17Pab6Q361jlcZ28nP6mE/lXKVfRbAqYzv5OX3Mp3OushVe3ixxb2pSZazv8H3t586nuDvAA20CCcEi88a4PCnTrar+N1JbwwBOux3y3VVujgM4dQPu3FWKkCuQ3iAIJ+4qAU7fgyCVXS6Voi3wIunVNfxaN+8jldoyqbRWCXCxSeXmKKRSmXFa94DDuNi6SgPjwpJKoY8DuNiaE2pcrM1Ja1yJ9OoiZ/0/ywvGhcQ56blKGJcFdjCuixkntAMwLhw7gI+LETkYF2eJEx9BBzhtwik92hfggmlOsAOBGXDn5kRU5QBOHTx2B7rdDlDjgmKb0u4AwEXHOJoTGEdkzziak9gYhx0IjXGsnAQInwvjZC/+QyqVMbNKG6kwLhCxlB5dgHFhKKU745IExmlHLpcY70cXcvmCaTZtOZ2c120qRG9vbylJcv67ymKxZOqN+mApV+SV0gqxtzK0Z21t1X+NKxW3Gdts9qc/zpNm/zH66qGds7Nz/s+cJLl8KpfF/qaxQymh75Nqf3Hs3eNDuwcHyxcuXpZIpaR45tbPROzetXvX9kIh9/BBrbaysrK6Rurl0dPTU6oM7e0ZGR3tG9wzuP38+T/M1NS0898vSDbA07HJ+uO8lh+tlg8cGC6/9vph099XNoUCt81JCZCkX4/X1szs3Ly5/Oe5FLS7osMIyf4DR5yH5/MF3pGqGI1G3fmpFoVoHh6J+f53cyJ4dqSxCdnVxM0dCx5jGGm8QHNCqDFOIpWGIhdlkUMqkUoCqUQqnxv/CDAAjpcS9s16MMQAAAAASUVORK5CYII=) 16 fill;
}
